# Ignorar todo
*

# Permitir carpetas
!*/

# Archivos ASM
!*.asm

# Archivos HEX para programar el microcontrolador
!*.hex

# Documentos PDF
!*.pdf

# Imágenes
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.bmp
!*.svg
!*.webp

#Draw io
!*.drawio

# Archivos de Proteus
!*.pdsprj
!*.dsn
!*.sch
!*.bin
!*.pdsprj
!*.dsn
!*.ly
!*.lb

# También mostrar el .gitignore
!.gitignore