# Ignorar todo
*

# Permitir carpetas
!*/

# Código fuente
!*.asm
!*.c
!*.h

# Proyectos Microchip Studio
!*.cproj
!*.atsln

# Archivos HEX para programar el micro
!*.hex

# Proteus
!*.pdsprj
!*.dsn
!*.sch
!*.bin
!*.ly
!*.lb

# Documentación
!*.pdf

# Imágenes
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.bmp
!*.svg
!*.webp

# Draw.io
!*.drawio

# El propio gitignore
!.gitignore