# Ignorar todo
*

# Permitir carpetas
!*/

# Archivos ASM
!*.asm

# Documentos PDF
!*.pdf

# Imágenes
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.bmp
!*.svg
!*.webp

# Archivos de Proteus
!*.pdsprj
!*.dsn
!*.sch
!*.bin
!*.pdsprj
!*.dsn
!*.ly
!*.lb

# También mostrar el .gitignore
!.gitignore